.moon-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
}

.moon-title > img{
    animation: moonTitleImageMove 0.65s ease-in-out infinite;
}

@keyframes moonTitleImageMove{
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}

.game-container{
    position: relative;
    background-image: url("./stars.png");
    background-size: 100% auto;
    background-repeat: round;
    height: 100vh;
    animation: backgroundMove 10s infinite linear;
}

@keyframes backgroundMove{
    from {background-position: 0 0;}
    to {background-position: 0 100%;}
}

.big-moon-img{
    position: absolute;
    width: 60%;
    left: 20%;
    top: 80%;
    animation: imgRotate 20s infinite linear;
}

@keyframes imgRotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.game-over-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-over-btn > img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-over-btn > span{
    font-size: 30px;
    position: absolute;
    padding: 3px;
    top: 50%;
    left: 50%;
    border-radius: 25%;
    background-color: rgba(255, 255, 255, 0.589);
    font-weight: bold;
}