.game-container{
    background-image: url("./stars.png");
    background-size: 500px;
    background-repeat: 10 10;
    height: 100vh;
    animation: backgroundMove 1000000s infinite linear;
}

@keyframes backgroundMove{
    from {background-position: 0 0;}
    to {background-position: 0 10000000000px;}
}

.moon-image{
    position: absolute;
    width: 60%;
    left: 20%;
    animation: imgRotate 20s infinite linear;
}

@keyframes imgRotate {
    from {transform: translateY(80vh) rotate(0deg);}
    to {transform: translateY(80vh) rotate(360deg);}
}